@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ var culture = CultureInfo.CurrentCulture.Name; }
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
<ul class="breadcrumb">
    <li><a><localize>Home</localize></a> <span class="divider">/</span></li>
    <li class="active"> <localize>SHOPPING CART</localize></li>
</ul>
@*<input type="hidden" name="name" value="@Model.CheckoutModel.UserId" />*@
<h3>  <localize>SHOPPING CART</localize> [ <small>@Model.CartItems.Count Item(s) </small>]<a href="/" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> <localize>Continue Shopping</localize> </a></h3>
<hr class="soft" />
@if (TempData["SuccessMsg"] != null)
{
    <span class="alert alert-success">@TempData["SuccessMsg"]</span>
}
else
{
    <table class="table table-bordered" id="tblCart">
        <thead>
            <tr>
                <th><localize>Product image</localize></th>
                <th><localize>Name</localize></th>
                <th><localize>Quantity/Update</localize></th>
                <th><localize>Price</localize></th>
                <th><localize>Total</localize></th>
            </tr>
        </thead>
        <tbody id="cart-body">
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <th><img width="60" src="@(Configuration["BaseAddress"] + item.Image)" alt="@item.Name"></th>
                    <th>@item.Description</th>
                    <th>@item.Quantity</th>
                    <th>@item.Price</th>
                    <th>@(item.Quantity*item.Price)</th>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" style="text-align:right"><strong><localize>TOTAL = </localize></strong></td>
                <td class="label label-important" style="display:block"> <strong>@Model.CartItems.Sum(x => x.Price * x.Quantity).ToString("N0") </strong></td>
            </tr>
        </tfoot>
    </table>


    <table class="table table-bordered" id="tblVouchers">
        <tbody>

            <tr>
                <td>
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label"><strong> <localize>VOUCHERS CODE:</localize> </strong> </label>
                            <div class="controls">
                                <input type="text" class="input-medium" placeholder="CODE">
                                <button type="submit" class="btn"> <localize>ADD</localize> </button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>

        </tbody>
    </table>

    <table class="table table-bordered" id="tblShip">
        <tr><th><localize>ESTIMATE YOUR SHIPPING</localize> </th></tr>
        <tr>
            <td>
                <form class="form-horizontal" action="/@culture/Checkout/Checkout" method="POST">
                    <div class="control-group">
                        <label class="control-label" for="inputName">Tên </label>
                        <div class="controls">
                            <input type="text" id="inputName" asp-for="CheckoutModel.Name" placeholder="Tên">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputAddress">Địa chỉ </label>
                        <div class="controls">
                            <input type="text" id="inputAddress" asp-for="CheckoutModel.Address" placeholder="Địa chỉ">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Email </label>
                        <div class="controls">
                            <input type="text" id="inputEmail" asp-for="CheckoutModel.Email" placeholder="Email">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPhoneNumber">Số điện thoại </label>
                        <div class="controls">
                            <input type="text" id="inputPhoneNumber" asp-for="CheckoutModel.PhoneNumber" placeholder="Số điện thoại">
                        </div>
                    </div>


                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn"><localize>ESTIMATE</localize> </button>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    </table>

    <a href="/" class="btn btn-large"><i class="icon-arrow-left"></i> <localize>Continue Shopping</localize> </a>
}



